
/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 382px;
}
.home_container
{
	position: absolute;
	top: auto;
	bottom: 79px;
	left: 0;
	width: 100%;
}
.home_content
{

}
.home_title
{
	display: inline-block;
	height: 54px;
	font-size: 36px;
	font-weight: 600;
	line-height: 54px;
	text-align: center;
	color: #FFFFFF;
	background: #32c69a;
	padding-left: 17px;
	padding-right: 19px;
}

/*********************************
6. Contact
*********************************/

.contact
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 160px;
	z-index: 2;
}
.contact_title
{
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 0.75;
}
.contact_form_container
{
	margin-top: 31px;
}
.contact_form input:not(:last-child)
{
	margin-bottom: 25px;
}
.contact_input
{
	display: block;
	width: 100%;
	height: 51px;
	background: #e5ecf1;
	border: none;
	outline: none;
	border-left: solid 3px transparent;
	padding-left: 35px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_input:focus,
.contact_input:hover
{
	border-left: solid 3px #32c69a;
}
.contact_textarea
{
	width: 100%;
	height: 192px;
	padding-top: 17px;
	margin-bottom: 0;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.contact_button
{
	width: 275px;
	height: 54px;
	background: #32c69a;
	border: none;
	outline: none;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	cursor: pointer;
	margin-top: 28px;
}
.info_form_container
{
	width: 100%;
	background: #e5ecf1;
	height: 100%;
	padding-left: 43px;
	padding-top: 50px;
	padding-bottom: 54px;
}
.info_form_title
{
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
}
.info_form
{
	width: 100%;
	padding-right: 44px;
	margin-top: 43px;
}
.info_form select
{
	margin-bottom: 26px;
}
.info_form input:not(:last-child)
{
	margin-bottom: 23px;
}
.info_input
{
	display: block;
	position: relative;
	width: 100%;
	height: 47px;
	background: #FFFFFF;
	padding-left: 20px;
	border: none;
	outline: none;
}
.info_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
} 
.info_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_select
{
	display: block;
	position: relative;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-image: url(../images/down.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
    cursor: pointer;
}
.info_form_button
{
	width: 100%;
	height: 54px;
	background: #32c69a;
	border: none;
	outline: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.2em;
	margin-top: 4px;
	cursor: pointer;
}
.contact_info
{
	position: absolute;
	left: 15px;
	top: calc(100% + 42px);
	width: calc(100% - 30px);
	background: #FFFFFF;
	padding-top: 33px;
	padding-bottom: 62px;
	border-bottom: solid 4px #32c69a;
	box-shadow: 0px 71px 81px rgba(4,4,4,0.09);
}
.contact_info_title
{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 0.75;
}
.contact_info_list
{
	margin-top: 40px;
	padding-top: 58px;
}
.contact_info_list ul li
{
	font-size: 14px;
	font-weight: 500;
	color: #828282;
}
.contact_info_list ul li:not(:last-child)
{
	margin-bottom: 16px;
}
.contact_info_list ul li span
{
	color: #404040;
}

/*********************************
7. Google Map
*********************************/

.contact_map
{
	width: 100%;
	height: 752px;
	margin-top: 125px;
	z-index: 1;
}
.map
{
	width: 100%;
	height: 100%;
}
.google_map
{
	width: 100%;
	height: 100%;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

/*********************************
8. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	width: 100%;
	padding-top: 64px;
}
.footer_content
{
	padding-bottom: 100px;
}
.footer_about
{
	padding-top: 34px;
}
.footer .logo a
{
	color: #FFFFFF;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 500;
	color: #d3d3d3;
	line-height: 2.14;
	margin-top: 39px;
}
.footer_social
{
	margin-top: 30px;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 30px;
}
.footer_social ul li a i
{
	color: #FFFFFF;
}
.copyright
{
	font-size: 12px;
	font-style: italic;
	color: rgba(255,255,255,0.48);
	margin-top: 54px;
}
.footer_contact
{
	padding-top: 35px;
}
.footer_contact_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_contact_form_container
{
	margin-top: 43px;
}
.footer_contact_form div input
{
	width: calc((100% - 12px) / 2);
}
.footer_contact_input
{
	width: 100%;
	height: 47px;
	background: #6a6d72;
	border: none;
	outline: none;
	padding-left: 20px;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-weight: 500;
}
.footer_contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.footer_contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_textarea
{
	height: 98px;
	padding-top: 15px;
}
.footer_contact_button
{
	width: 275px;
	height: 54px;
	background: #32c69a;
	border: none;
	outline: none;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: -5px;
}
.footer_hours
{
	background: rgba(22,22,23,0.61);
	padding-left: 27px;
	padding-top: 35px;
	padding-bottom: 60px;
	padding-right: 30px;
}
.footer_hours_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.hours_list
{
	margin-top: 47px;
}
.hours_list li div
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
}
.hours_list li:not(:last-child)
{
	margin-bottom: 27px;
}
.footer_bar
{
	width: 100%;
	background: rgba(18,17,17,0.66);
}
.footer_bar_content
{
	width: 100%;
	height: 51px;
}
.footer_nav ul li:not(:last-child)
{
	margin-right: 64px;
}
.footer_nav ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #32c69a;
}
.footer_links
{
	margin-left: 84px;
}
.footer_links ul li
{
	position: relative;
}
.footer_links ul li:not(:last-child)::after
{
	content: '|';
	margin-left: 9px;
	margin-right: 9px;
}
.footer_links ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links ul li a:hover
{
	color: #32c69a;
}
.footer_phone span
{
	font-size: 14px;
	font-weight: 600;
	color: #32c69a;
}
.footer_phone i
{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: #32c69a;
}