/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 382px;
}
.home_container
{
	position: absolute;
	top: auto;
	bottom: 79px;
	left: 0;
	width: 100%;
}
.home_content
{

}
.home_title
{
	display: inline-block;
	height: 54px;
	font-size: 36px;
	font-weight: 600;
	line-height: 54px;
	text-align: center;
	color: #FFFFFF;
	background: #32c69a;
	padding-left: 17px;
	padding-right: 19px;
}

/*********************************
6. News
*********************************/

.news
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 99px;
	padding-bottom: 102px;
}
.news_post:not(:last-child)
{
	margin-bottom: 63px;
}
.news_post_image
{
	float: left;
	padding: 0 16px 16px 0;
}
.news_post_image img
{
	max-width: 100%;
}
.news_post_content
{
	padding-top: 36px;
}
.news_post_date
{
	width: 106px;
	height: 31px;
	text-align: center;
	background: #32c69a;
}
.news_post_date a
{
	display: block;
	line-height: 31px;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}
.news_post_title
{
	margin-top: 15px;
}
.news_post_title a
{
	font-size: 30px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.news_post_title a:hover
{
	color: #32c69a;
}
.news_post_info
{
	margin-top: 7px;
}
.news_post_info ul li
{
	position: relative;
}
.news_post_info ul li::after
{
	content: '/';
	margin-left: 4px;
	margin-right: 3px;
	font-size: 11px;
	font-weight: 500;
	color: #838383;
}
.news_post_info ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #838383;
}
.news_post_text
{
	margin-top: 15px;
}
.news_post_button
{
	margin-top: 34px;
}
.pagination ul li
{
	width: 35px;
	height: 35px;
	background: transparent;
	text-align: center;
}
.pagination ul li.active
{
	background: #32c69a;
}
.pagination ul li:not(:last-child)
{
	margin-right: 8px;
}
.pagination ul li a
{
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #404040;
	line-height: 35px;
}
.pagination ul li.active a
{
	color: #FFFFFF;
}
.news_sidebar
{
	width: 100%;
}
.sidebar_search_input
{
	width: 100%;
	height: 37px;
	border: none;
	outline: none;
	background: #e5ecf1;
	padding-left: 20px;
}
.sidebar_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 37px;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.sidebar_search_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #ababab !important;
}
.sidebar_search_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #ababab !important;
}
.sidebar_search_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #ababab !important;
} 
.sidebar_search_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #ababab !important;
}
.sidebar_search_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #ababab !important;
}
.sidebar_latest
{
	margin-top: 58px;
}
.sidebar_title
{
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
}
.sidebar_latest_container
{
	margin-top: 37px;
}
.latest:not(:last-child)
{
	margin-bottom: 23px;
}
.latest_image
{
	width: 73px;
	height: 73px;
}
.latest_image img
{
	max-width: 100%;
}
.latest_content
{
	padding-left: 25px;
}
.latest_title
{
	margin-top: -3px;
}
.latest_title a
{
	font-size: 16px;
	font-weight: 500;
	color: #404040;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.latest_title a:hover
{
	color: #32c69a;
}
.latest_info
{
	margin-top: 1px;
}
.latest_info ul li
{
	position: relative;
}
.latest_info ul li:not(:last-child)::after
{
	content: '/';
	margin-left: 3px;
	margin-right: 2px;
	font-size: 12px;
	font-weight: 500;
	color: #838383;
}
.latest_info ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #838383;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.latest_info ul li a:hover
{
	color: #32c69a;
}
.latest_comments
{
	margin-top: 6px;
}
.latest_comments a
{
	font-size: 12px;
	font-weight: 500;
	color: #32c69a;
}
.sidebar_categories
{
	margin-top: 60px;
}
.categories
{
	background: #e5ecf1;
	padding-left: 27px;
	padding-top: 37px;
	padding-right: 26px;
	padding-bottom: 37px;
	margin-top: 44px;
}
.categories ul li:not(:first-child)
{
	margin-top: -4px;
}
.categories ul li a > div
{
	width: 100%;
	height: 44px;
	padding-right: 22px;
	padding-left: 15px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.categories ul li a > div > div
{
	font-size: 16px;
	font-weight: 500;
	color: #838383;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.categories ul li:hover a > div
{
	background: #FFFFFF;
}
.categories ul li:hover a > div > div
{
	color: #32c69a;
}
.info_form_container
{
	width: 100%;
	background: #e5ecf1;
	height: 100%;
	padding-left: 43px;
	padding-top: 50px;
	padding-bottom: 54px;
	margin-top: 64px;
}
.info_form_title
{
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
}
.info_form
{
	width: 100%;
	padding-right: 44px;
	margin-top: 43px;
}
.info_form select
{
	margin-bottom: 26px;
}
.info_form input:not(:last-child)
{
	margin-bottom: 23px;
}
.info_input
{
	display: block;
	position: relative;
	width: 100%;
	height: 47px;
	background: #FFFFFF;
	padding-left: 20px;
	border: none;
	outline: none;
}
.info_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
} 
.info_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_select
{
	display: block;
	position: relative;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-image: url(../images/down.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
    cursor: pointer;
}
.info_form_button
{
	width: 100%;
	height: 54px;
	background: #32c69a;
	border: none;
	outline: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.2em;
	margin-top: 4px;
	cursor: pointer;
}

/*********************************
7. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	width: 100%;
	padding-top: 64px;
}
.footer_content
{
	padding-bottom: 100px;
}
.footer_about
{
	padding-top: 34px;
}
.footer .logo a
{
	color: #FFFFFF;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 500;
	color: #d3d3d3;
	line-height: 2.14;
	margin-top: 39px;
}
.footer_social
{
	margin-top: 30px;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 30px;
}
.footer_social ul li a i
{
	color: #FFFFFF;
}
.copyright
{
	font-size: 12px;
	font-style: italic;
	color: rgba(255,255,255,0.48);
	margin-top: 54px;
}
.footer_contact
{
	padding-top: 35px;
}
.footer_contact_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_contact_form_container
{
	margin-top: 43px;
}
.footer_contact_form div input
{
	width: calc((100% - 12px) / 2);
}
.footer_contact_input
{
	width: 100%;
	height: 47px;
	background: #6a6d72;
	border: none;
	outline: none;
	padding-left: 20px;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-weight: 500;
}
.footer_contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.footer_contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_textarea
{
	height: 98px;
	padding-top: 15px;
}
.footer_contact_button
{
	width: 275px;
	height: 54px;
	background: #32c69a;
	border: none;
	outline: none;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: -5px;
}
.footer_hours
{
	background: rgba(22,22,23,0.61);
	padding-left: 27px;
	padding-top: 35px;
	padding-bottom: 60px;
	padding-right: 30px;
}
.footer_hours_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.hours_list
{
	margin-top: 47px;
}
.hours_list li div
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
}
.hours_list li:not(:last-child)
{
	margin-bottom: 27px;
}
.footer_bar
{
	width: 100%;
	background: rgba(18,17,17,0.66);
}
.footer_bar_content
{
	width: 100%;
	height: 51px;
}
.footer_nav ul li:not(:last-child)
{
	margin-right: 64px;
}
.footer_nav ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #32c69a;
}
.footer_links
{
	margin-left: 84px;
}
.footer_links ul li
{
	position: relative;
}
.footer_links ul li:not(:last-child)::after
{
	content: '|';
	margin-left: 9px;
	margin-right: 9px;
}
.footer_links ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links ul li a:hover
{
	color: #32c69a;
}
.footer_phone span
{
	font-size: 14px;
	font-weight: 600;
	color: #32c69a;
}
.footer_phone i
{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: #32c69a;
}