
/*********************************
6. Services
*********************************/

.services
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 99px;
	padding-bottom: 102px;
}
.icon_boxes_row
{
	margin-top: 100px;
}
.icon_box
{
	margin-bottom: 85px;
}
.icon_box_icon
{
	width: 49px;
	height: 49px;
}
.icon_box_icon img
{
	max-width: 100%;
}
.icon_box_title
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
	padding-left: 25px;
}
.icon_box_text
{
	font-size: 14px;
	font-weight: 500;
	color: #838383;
	line-height: 2.14;
	margin-top: 21px;
}
.services_button
{
	margin-top: 4px;
}

/*********************************
7. Boxes
*********************************/

.boxes
{
	width: 100%;
}
.box
{
	width: calc(100% / 3);
	padding-top: 79px;
	padding-left: 90px;
	padding-bottom: 64px;
	padding-right: 30px;
}
.box_title
{
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.box_subtitle
{
	font-size: 11px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 0.75;
	margin-top: 16px;
	padding-left: 1px;
}
.box_text
{
	margin-top: 60px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(255,255,255,0.66);
	line-height: 2.14;
	padding-left: 3px;
}
.box_button
{
	margin-top: 77px;
}

/*********************************
8. Tabs
*********************************/

.tabs_container
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 97px;
}
.tab
{
	width: 100%;
	padding-left: 29px;
	padding-top: 23px;
	padding-bottom: 25px;
	padding-right: 29px;
	background: #f8fafc;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:not(:last-child)
{
	margin-bottom: 2px;
}
.tab::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 6px;
	height: 100%;
	content: '';
	background: #dfdfdf;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:hover::after,
.tab.active::after
{
	background: #404040;
}
.tab:hover,
.tab.active
{
	background: #32c69a;
}
.tab:hover .tab_title,
.tab:hover .tab_text,
.tab.active .tab_title,
.tab.active .tab_text
{
	color: #FFFFFF;
}
.tab_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.tab_list
{
	padding-top: 31px;
}
.tab_list ul li:not(:last-child)
{
	margin-bottom: 41px;
}
.tab_image
{
	width: 100%;
}
.tab_image img
{
	max-width: 100%;
}
.tab_title
{
	font-size: 20px;
	font-weight: 700;
	color: #404040;
	line-height: 1.2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab_text
{
	font-size: 14px;
	font-weight: 500;
	color: #b1b1b1;
	margin-top: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab_list_title
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
}
.tab_list_text
{
	margin-top: 8px;
}

/*********************************
9. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	width: 100%;
	padding-top: 64px;
}
.footer_content
{
	padding-bottom: 100px;
}
.footer_about
{
	padding-top: 34px;
}
.footer .logo a
{
	color: #FFFFFF;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 500;
	color: #d3d3d3;
	line-height: 2.14;
	margin-top: 39px;
}
.footer_social
{
	margin-top: 30px;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 30px;
}
.footer_social ul li a i
{
	color: #FFFFFF;
}
.copyright
{
	font-size: 12px;
	font-style: italic;
	color: rgba(255,255,255,0.48);
	margin-top: 54px;
}
.footer_contact
{
	padding-top: 35px;
}
.footer_contact_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_contact_form_container
{
	margin-top: 43px;
}
.footer_contact_form div input
{
	width: calc((100% - 12px) / 2);
}
.footer_contact_input
{
	width: 100%;
	height: 47px;
	background: #6a6d72;
	border: none;
	outline: none;
	padding-left: 20px;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-weight: 500;
}
.footer_contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.footer_contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_textarea
{
	height: 98px;
	padding-top: 15px;
}
.footer_contact_button
{
	width: 275px;
	height: 54px;
	background: #32c69a;
	border: none;
	outline: none;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: -5px;
}
.footer_hours
{
	background: rgba(22,22,23,0.61);
	padding-left: 27px;
	padding-top: 35px;
	padding-bottom: 60px;
	padding-right: 30px;
}
.footer_hours_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.hours_list
{
	margin-top: 47px;
}
.hours_list li div
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
}
.hours_list li:not(:last-child)
{
	margin-bottom: 27px;
}
.footer_bar
{
	width: 100%;
	background: rgba(18,17,17,0.66);
}
.footer_bar_content
{
	width: 100%;
	height: 51px;
}
.footer_nav ul li:not(:last-child)
{
	margin-right: 64px;
}
.footer_nav ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #32c69a;
}
.footer_links
{
	margin-left: 84px;
}
.footer_links ul li
{
	position: relative;
}
.footer_links ul li:not(:last-child)::after
{
	content: '|';
	margin-left: 9px;
	margin-right: 9px;
}
.footer_links ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links ul li a:hover
{
	color: #32c69a;
}
.footer_phone span
{
	font-size: 14px;
	font-weight: 600;
	color: #32c69a;
}
.footer_phone i
{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: #32c69a;
}